<p id="notice"><%= notice %></p>
<div class="col-md-5">
  <%= link_to new_task_path, remote: true  do |f| %>
      <%= f.button :Submit, class: "btn btn-primary" %> 
      
    <% end %> 

  <div id="task-form" style="display:none;">
  </div>  
    <div class="col-md-8">
      <h2>JP's Tasks</h2>
      <div id="tasks">  
        <div class="row">  
          <%= render @tasks %>
        </div>
      </div>
    </div>
</div>
